<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>This is your account information</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
  <p><a href="/login">Log Out</a></p>

  </body>
</html>
