<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>This is your account information</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
      
    <%=if @user.is_logged_in?%>
    <h1>Welcome <%session[:user_id].username%></h1>
    <h3>Your Balance: <%=current_user.balance%></h3>
    <%else%>
    <p>Here is a <a href="/">link</a>to homepage</p>
    <%end%>
    <p><a href="/login">Log Out</a></p>



  </body>
</html>
